{% extends "blog/header.html" %}

{% block content %}
<div class="col-12">
    <h1 class="text-center mt-3">Stats</h1>
</div>
{% if blogs %}
    {% for b in blogs %}
    <div class="row d-flex justify-content-center">
        <div id="{{ b.blog_slug }}" class="col-12 h-300">
            
        </div>
        <div class="col-12">
            <p class="text-center font-weight-bold">Likes: {{ b.likes.count }}, Views: {{ b.views.count }}</p>
        </div>
    </div>
    <hr>
    {% endfor %}
{% else %}
    <p class="text-center mt-3">Stats will be shown when you <a href="/create_blog/">create</a> one blog.</p>
{% endif %} 

  
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    
    <script type="text/javascript">
    
    {% for b in blogs %}
        
        Highcharts.chart('{{b.blog_slug}}', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: '{{ b.headline }}'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Brands',
                colorByPoint: true,
                data: [{
                    name: 'Likes',
                    y: {{ b.likes.count|safe }},
                    sliced: true,
                }, {
                    name: 'Views',
                    y: {{ b.views.count|safe }},
                }]
            }]
        });
    {% endfor %}
    </script>
{% endblock %}
            