{% extends "blog/header.html" %}

{% block content %}
<div class="col-12">
    <h1 class="text-center mt-3">{{ single_blog.headline }}</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 d-flex">
            <div class="m-auto" id="blog_cover_image">
                <img src='{{ single_blog.image.url }}' alt="{{ blog.img_name }}" class="responsive"/>
            </div>
        </div>

        <div class="col-12 mt-3 mb-3">
            <div class="row ml-1 mr-1">
                <div class="blog-user-image">
                    {% if single_blog.author.profile.image %}
                        <img src="{{ single_blog.author.profile.image.url }}" width="64px;" alt="User info"/>
                    {% else %}
                        {% load static %}
                        <img src="{% static 'image/user.png' %}" width="64px;" alt="profile pic">
                    {% endif %}
                </div>
                <div class="blog-user-info">
                    <p>{{ single_blog.author.get_full_name }}</p>
                    <p>{{ single_blog.pub_date }}</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <p class="m-2">{{ single_blog.content|safe }}</p>
        </div>
        <div class="col-12">
            <p>Likes = {{ single_blog.likes.count }}</p>
            {% if user.is_authenticated %}
                <p><a href="{{ single_blog.blog_slug }}/like">{{ like_value }}</a></p>
            {% else %}
                <p>Login to like this post.</p>
            {% endif %}
        </div>
        <div class="comment-area mt-3 col-12">
            <h2>Comments:</h2>
            {% if user.is_authenticated %}
                <div class="add-comment">
                    <form method="post">
                        {% csrf_token %}
                        {{ comment_form }}
                        <button class="btn margin-0 mb-2 mt-2" type="submit">Post</button>
                    </form>
                </div>
            {% else %}
                <p>You need to login to add comment.</p>
            {% endif %}
            <div class="comments">
                {{ comments.count }} Comment{{ comments|pluralize }}
                {% for comment in comments %}
                    <div class="comment">
                        <blockquote class="blockquote">
                            <p class="mb-0">{{ comment.comment_text }}</p>
                            <footer class="blockquote-footer">by <cite title="Source Title">{{ comment.author|capfirst }}</cite></footer>
                        </blockquote>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
    
{% endblock %}
            



    
        
