{% extends "blog/header.html" %}

{% block content %}
<div class="col-12">
    <h2 class="text-center mt-3">Change info</h2>
</div>
<div class="container">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
            {% csrf_token %}
            <div class="row mt-3">
                <div class="col-6 mt-3 mb-3">
                    <label>First name:</label>
                    {{ register.first_name }}
                </div>
                <div class="col-6 mt-3 mb-3">
                    <label>Last name:</label>
                    {{ register.last_name }}
                </div>
                <div class="col-12 mt-3 mb-3">
                        <label>Username:</label>
                        {{ register.username }}
                    </div>
                <div class="col-12 mt-3 mb-3">
                    <label>Email:</label>
                    {{ register.email }}
                </div>
                <div class="col-6 mt-3 mb-3">
                    <label>Password:</label>
                    {{ register.password1 }}
                </div>
                <div class="col-6 mt-3 mb-3">
                    <label>Repeat password:</label>
                    {{ register.password2 }}
                </div>
                <div class="col-12 mt-3 mb-3">
                    <label>Bio:</label>
                    {{ profile.bio }}
                </div>
                <div class="col-12 mt-3 mb-3">
                    <label>Birth date: (YYYY-MM-DD)</label>
                    {{ profile.birth_date }}
                </div>
                <div class="col-12 mt-3 mb-3">
                    <label>Profile picture:</label>
                    {{ profile.image }}
                </div>
            </div>
            
            </div>
            <button class="btn btn-primary margin-0" type="submit">Change</button>
            <a href="/my_info/" class="btn btn-primary ml-2">Cancel</a>
        </form>
        {% if register.errors %}
            {% for field in register %}
                {% for error in field.errors %}
                    <div class="alert alert-danger mt-4">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in register.non_field_errors %}
                <div class="alert alert-danger mt-4">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        {% if profile.errors %}
            {% for field in profile %}
                {% for error in field.errors %}
                    <div class="alert alert-danger mt-4">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in profile.non_field_errors %}
                <div class="alert alert-danger mt-4">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
</div>
{% endblock %}
            