<!DOCTYPE html>
    <html>
        <head>
            {% load static %}

            <title>{{ title }}</title>

            <meta charset="UTF-8">
            
            <meta content="width=device-width, initial-scale=1" name="viewport" />

            <meta name="description" content="{{ description }}"> <!--Description-->

            <meta name="keywords" content="{{ keywords }}">

            {% if author %}
            <meta name="author" content="{{ author }}">
            {% else %}
            <meta name="author" content="Read and Write">
            {% endif %}

            <link rel="shortcut icon" href="{% static 'image/icon.ico' %}"> 

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

            <link href='{% static "blog/css/bootstrap/css/mdb.css" %}' rel="stylesheet">

            <link href='{% static "blog/css/bootstrap/css/style.css" %}' rel="stylesheet">

            <link href='{% static "blog/css/bootstrap/css/media.css" %}' rel="stylesheet">

            <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">

            <script src="https://kit.fontawesome.com/d27711fee5.js"></script>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

            {{ form.media }} <!--For TinyMCE to work-->
        </head>
        <body>
            <div id="page-container">
                {% include "blog/includes/navbar.html" %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="message-block d-flex justify-content-center {{ message.tags }}">
                            <p>{{ message }}</p>
                        </div>             
                    {% endfor %}
                {% endif %}
                <div class="container" id="content-wrap">
                    {% block content %}
                    {% endblock %}
                </div>
                <footer class="page-footer font-small border" id="footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-5 flex-center">
                                    <a href="https://www.linkedin.com/in/nikola-ciganovi%C4%87-938255167/" target="blank">
                                        <i class="fab fa-linkedin text-dark fa-lg mr-md-5 mr-3 fa-3x"></i>
                                    </a>
                                    <a href="https://github.com/nciganovic" target="blank">
                                        <i class="fab fa-github-square fa-lg text-dark mr-md-5 mr-3 fa-3x"> </i>
                                    <a href="https://nikolaciganovic.netlify.com/" target="blank">
                                        <i class="fas fa-globe-europe text-dark fa-3x"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-copyright text-center py-3 border" style="background-color: white;">
                        <p class="text-dark copy">&copy; 2019 Copyright: Nikola Ciganovic</p>
                    </div>
                </footer>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            </div>
        </body>
    </html>




    
        
