{% extends "blog/header.html" %}
   
{% block content %}
<div class="premium-div row border-bottom mt-2 ml-mr-0">
    <!--LEFT-->
    <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 border-right">
        <a class="text-dark" href="{{single_premium_blog_1.blog_slug}}">
        <div class="col-12 mt-2">
            <img src="{{ single_premium_blog_1.image.url }}" alt="P1" class="w-100">
        </div>
        <div class="col-12">
            <h3 class="font-weight-bold mt-2 too-long-text">{{ single_premium_blog_1.headline }}</h3>
            <p class="font-weight-bold mb-1 mt-3">{{ single_premium_blog_1.category_name }}</p>
            <p class="mb-1">{{ single_premium_blog_1.author.first_name }} {{ single_premium_blog_1.author.last_name }}</p>
            <p class="font-italic">{{ single_premium_blog_1.pub_date|date:'Y-m-d'  }}</p>
        </div>
        </a>
    </div>
    <!--MIDDLE-->
    <div class="col-lg-4 middle p-0">
        <div class="post d-flex mt-2">
            <div class="col-5">
                <a href="{{ single_premium_blog_2.blog_slug }}">
                    <div class="overflow-hidden">
                        <img src="{{ single_premium_blog_2.image.url }}" alt="P1" width="124px">
                    </div>
                </a>
            </div>
            <div class="col-7 p-0">
                <a class="text-dark" href="{{ single_premium_blog_2.blog_slug }}">
                    <p class="font-weight-bold mb-1 overflow-hidden text-nowrap too-long-text" max-height="40px">{{ single_premium_blog_2.headline }}</p>
                    <small>{{ single_premium_blog_2.category_name }}</small><br>
                    <small>{{ single_premium_blog_2.author.first_name }} {{ single_premium_blog_2.author.last_name }}</small>
                </a>
            </div>
        </div>
        <div class="post d-flex mt-5">
            <div class="col-5">
                <a href="{{ single_premium_blog_3.blog_slug }}">
                    <div class="overflow-hidden">
                        <img src="{{ single_premium_blog_3.image.url }}" alt="P1" width="124px">
                    </div>
                </a>
            </div>
            <div class="col-7 p-0">
                <a class="text-dark" href="{{ single_premium_blog_3.blog_slug }}">
                    <p class="font-weight-bold mb-1 overflow-hidden text-nowrap too-long-text" max-height="40px">{{ single_premium_blog_3.headline }}</p>
                    <small>{{ single_premium_blog_3.category_name }}</small><br>
                    <small>{{ single_premium_blog_3.author.first_name }} {{ single_premium_blog_3.author.last_name }}</small>
                </a>
            </div>
        </div>
        <div class="post d-flex mt-5">
            <div class="col-5">
                <a href="{{ single_premium_blog_4.blog_slug }}">
                    <div class="overflow-hidden">
                        <img src="{{ single_premium_blog_4.image.url }}" alt="P1" width="124px">
                    </div>
                </a>
                </div>
            <div class="col-7 p-0">
                <a class="text-dark" href="{{ single_premium_blog_4.blog_slug }}">
                    <p class="font-weight-bold mb-1 overflow-hidden text-nowrap too-long-text" max-height="40px">{{ single_premium_blog_4.headline }}</p>
                    <small>{{ single_premium_blog_4.category_name }}</small><br>
                    <small>{{ single_premium_blog_4.author.first_name }} {{ single_premium_blog_4.author.last_name }}</small>
                </a>
            </div>
        </div>
    </div>
    <!--RIGHT-->
    <div class="col-lg-4 col-md-6 col-sm-8 border-left">
        <a class="text-dark" href="{{ single_premium_blog_5.blog_slug }}">
        <div class="col-12 mt-2">
            <img src="{{ single_premium_blog_5.image.url }}" alt="P1" class="w-100">
        </div>
        <div class="col-12">
            <h3 class="font-weight-bold mt-2 too-long-text">{{ single_premium_blog_5.headline }}</h3>
            <p class="font-weight-bold mb-1 mt-3">{{ single_premium_blog_5.category_name }}</p>
            <p class="mb-1">{{ single_premium_blog_5.author.first_name }} {{ single_premium_blog_5.author.last_name }}</p>
            <p class="font-italic">{{ single_premium_blog_5.pub_date|date:'Y-m-d'  }}</p>
        </div>
        </a>
    </div>

    <div class="col-12">
        <p class="mb-0 text-right">Premium user's blogs</p>
    </div>
    
</div>
<!--SEARCH BLOG-->
<div class="row cover-img mt-3 ml-mr-0">
    <div class="col-12 outer d-flex">
        <div class="inner m-auto">
            <h3 class="text-center text-light desc">Search blog:</h3>
            <div class="w-100">
                <form method="GET" action="" class="form-inline my-2 my-lg-0 ml-auto">
                    <div class="input-group md-form form-sm form-2 pl-0 m-auto" id="SearchHolder">
                        <input class="form-control my-0 py-1 red-border white-txt" name="q" type="text" placeholder="Try lorem..." aria-label="Search" id="SearchForm">
                        <div class="input-group-append">
                            <button type="submit" class="input-group-text white zero-radius" id="basic-text1"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--MOST RECENT AND MOST LIKED-->
<div class="row border-top mt-3 ml-mr-0">
    <div class="col-lg-8 col-md-12">
    {% if search == False %}
        {% for mr in most_recent %}
            <div class="row mt-3 border-right border-top border-bottom">
                <div class="col-5 p-0">
                    <a href="{{mr.blog_slug}}">
                        <img src="{{mr.image.url}}" alt="{{ mr.headline }}" class="w-100">
                    </a>
                </div>
                <div class="col-7">
                    <a class="text-dark" href="{{mr.blog_slug}}">
                        <h3 class="font-weight-bold mt-2 mb-3 blog-txt-h too-long-text">{{ mr.headline }}</h3>
                        <p class="mb-0 blog-txt">{{ mr.category_name }}</p>
                        <p class="mb-0 blog-txt">{{ mr.author.first_name }} {{ mr.author.last_name }}</p>
                        <p class="mb-0 blog-txt">{{ mr.pub_date|date:'Y-m-d'  }}</p>
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        {% if blogs %}
            <div class="col-12 d-flex pt-4 pb-4 mt-3 mb-4 bg-light">
                <h2 class="m-auto font-weight-bold font-12">Resluts of {{ query }}</h2>
            </div>
        {% else %}
            <div class="col-12 d-flex pt-4 pb-4 mt-3 mb-4 bg-light">
                <h2 class="m-auto font-weight-bold font-12">Resluts of {{ query }} doesnt exist.</h2>
            </div>
            {% for mr in most_recent %}
                <div class="row mt-3 border-right border-top border-bottom">
                    <div class="col-5 p-0">
                        <a href="{{mr.blog_slug}}">
                            <img src="{{mr.image.url}}" alt="{{ mr.headline }}" class="w-100">
                        </a>
                    </div>
                    <div class="col-7">
                        <a class="text-dark" href="{{mr.blog_slug}}">
                            <h3 class="font-weight-bold mt-2 mb-3 blog-txt-h too-long-text">{{ mr.headline }}</h3>
                            <p class="mb-0 blog-txt">{{ mr.category_name }}</p>
                            <p class="mb-0 blog-txt">{{ mr.author.first_name }} {{ mr.author.last_name }}</p>
                            <p class="mb-0 blog-txt">{{ mr.pub_date|date:'Y-m-d'  }}</p>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% for blog in blogs %}
            <div class="row mt-3 border-right border-top border-bottom">
                <div class="col-5 p-0">
                    <a href="{{blog.blog_slug}}">
                        <img src="{{blog.image.url}}" class="w-100" alt="{{ blog.headline }}">
                    </a>
                </div>
                <div class="col-7">
                    <a class="text-dark" href="{{blog.blog_slug}}">
                        <h3 class="font-weight-bold mt-2 mb-3 blog-txt-h too-long-text">{{ blog.headline }}</h3>
                        <p class="mb-0 blog-txt">{{ blog.category_name }}</p>
                        <p class="mb-0 blog-txt">{{ blog.author.first_name }} {{ blog.author.last_name }}</p>
                        <p class="mb-0 blog-txt">{{ blog.pub_date|date:'Y-m-d'  }}</p>
                    </a>
                </div>
            </div>
        {% endfor %}  
    {% endif %}      
    </div>
    <div class="col-lg-4 middle">
        <div class="most-liked">
            <div class="col-12 d-flex bg-light pt-4 pb-4 mt-3 mb-4">
                <h2 class="m-auto font-weight-bold font-12">Most liked blogs</h2>
            </div>
            {% for ml in most_liked %}
                <div class="row">
                    <div class="col-2">
                        <a class="text-dark" href="{{ ml.blog_slug }}">
                            <p class="font-30">{{forloop.counter}}</p>
                        </a>
                    </div>
                    <div class="col-10 d-flex">
                        <a class="text-dark mr-auto mt-2" href="{{ ml.blog_slug }}">
                            <p class="mb-0 font-weight-bold too-long-text">{{ml.headline}}</p>
                            <p>{{ml.category_name}}, {{ml.author}}</p>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--
    <div class="col-12 cover-img">
        <div class="outer d-flex">
            <div class="inner m-auto">
                <h1 class="text-center text-light">Welcome to Read and Write</h1>
                <p class="text-center text-light desc">Amazing webiste for creating and reading blogs</p>
                <div class="w-100">
                    <form method="GET" action="" class="form-inline my-2 my-lg-0 ml-auto">
                        <div class="input-group md-form form-sm form-2 pl-0 m-auto" id="SearchHolder">
                            <input class="form-control my-0 py-1 red-border white-txt" name="q" type="text" placeholder="Search for blogs" aria-label="Search" id="SearchForm">
                            <div class="input-group-append">
                                <button type="submit" class="input-group-text white zero-radius" id="basic-text1"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-12 d-flex bg-light justify-content-around">
        <div class="small-nav pt-3">
            <p><i class="fas fa-pencil-alt"></i> Create</p>
        </div>
        <div class="small-nav pt-3">
            <p><i class="fas fa-book-reader"></i> Read</p>
        </div>
        <div class="small-nav pt-3">
            <p><i class="fas fa-users"></i> Comment</p>
        </div>
    </div>
    {% if search == False %}
        <div class="col-12">
            <h2 class="text-center mt-5 mb-2">Categories:</h2>
        </div>
        {% for c in category %}
            <div class="col-4 d-flex justify-content-center">
                <div class="card m-3" id="ctg-card">
                    <div class="row no-gutters">
                      <div class="col-sm-4">
                        <a href="{{c.category_slug}}">
                            <img src="{{ c.image.url }}" class="card-img" alt="{{ c.category_name }}">
                        </a>
                      </div>
                      <div class="col-sm-8">
                        <a href="{{c.category_slug}}">
                            <div class="card-body">
                                <h3 class="card-title text-dark" id="index-card-title">{{ c.category_name }}</h3>
                                <p class="card-text">{{ c.category_description }}</p>
                            </div>
                        </a>
                      </div>
                    </div>
                </div>
            </div>
        {% endfor %}
            <div class="col-12">
                <h2 class="text-center mt-5 mb-2">Most recent:</h2>
            </div>
            {% for mr in most_recent %}
                <div class="col-12 d-flex justify-content-center">
                    <div class="card m-3" id="mr-card">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <a href="{{mr.blog_slug}}">
                                    <img src="{{ mr.image.url }}" class="card-img" alt="{{ mr.img_name }}">
                                </a>
                            </div>
                            <div class="col-md-8">
                                <a href="{{mr.blog_slug}}">
                                    <div class="card-body">
                                        <h3 class="card-title text-dark">{{ mr.headline }}</h3>
                                        <p class="card-text">{{ mr.category_name }}</p>
                                        <p class="card-text">{{ mr.author.first_name }} {{ mr.author.last_name }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
    {% else %}
        {% if blogs %}
            <div class="col-12">
                <h2 class="text-center mt-5 mb-2">Results of '{{ query }}' search: </h2>
            </div>
        {% else %}
            <div class="col-12">
                <h2 class="text-center mt-5 mb-2">Most recent blogs</h2>
            </div>
            {% for mr in most_recent %}
                <div class="col-12 d-flex justify-content-center">
                    <div class="card m-3" id="mr-card">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <a href="{{mr.blog_slug}}">
                                    <img src="{{ mr.image.url }}" class="card-img" alt="{{ mr.img_name }}">
                                </a>
                            </div>
                            <div class="col-md-8">
                                <a href="{{mr.blog_slug}}">
                                    <div class="card-body">
                                        <h3 class="card-title text-dark">{{ mr.headline }}</h3>
                                        <p class="card-text">{{ mr.category_name }}</p>
                                        <p class="card-text">{{ mr.author.first_name }} {{ mr.author.last_name }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        
        {% for blog in blogs %}
            <div class="col-12 d-flex justify-content-center">
                <div class="card m-3" id="mr-card">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <a href="{{blog.blog_slug}}">
                                <img src="{{ blog.image.url }}" class="card-img" alt="{{ blog.img_name }}">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <a href="{{blog.blog_slug}}">
                            <div class="card-body">
                                <h3 class="card-title text-dark">{{ blog.headline }}</h3>
                                <p class="card-text">{{ blog.category_name }}</p>
                                <p class="card-text">{{ blog.author.first_name }} {{ blog.author.last_name }}</p>
                                <p class="card-text">{{ blog.pub_date }}</p>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
-->
{% endblock %}


    
        
