{% extends "blog/header.html" %}
   
{% block content %}
    <div class="search">
        <form method="GET" action="" class="form-inline my-2 my-lg-0 ml-auto">
            <input class="form-control" type="text" name="q" placeholder="Search post" aria-label="Search">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div> 
    <div class="row">
        {% if search == False %}
            {% for c in category %}
                <!-- Card -->
                <div class="card m-3 col-xl-5 padding-0">
                    
                    <!-- Card image -->
                    <div class="view overlay">
                    
                    <img src="{{ c.image.url }}" class="img-responsive" alt="{{ c.category_name }}">
                           
                    <a href="{{c.category_slug}}">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                    </div>
                
                    <!-- Card content -->
                    <div class="card-body">
                
                    <!-- Title -->
                    <h4 class="card-title">{{ c.category_name }}</h4>
                    <!-- Text -->
                    <p class="card-text">{{ c.category_description }}</p>
                    <!-- Button -->
                    <a href="{{c.category_slug}}" class="btn btn-primary">Visit</a>
                
                    </div>
                
                </div>
                <!-- Card -->
            {% endfor %}
        {% else %}
            {% for blog in blogs %}
                <!-- Card -->
                <div class="card m-3 col-xl-5 padding-0">

                    <!-- Card image -->
                    <div class="view overlay">

                    <img class="card-img-top" src='{{ blog.image.url }}' alt="{{ blog.img_name }}">

                    <a href="{{blog.blog_slug}}">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                    </div>
                
                    <!-- Card content -->
                    <div class="card-body">
                
                    <!-- Title -->
                    <h4 class="card-title">{{ blog.headline }}</h4>

                    <!-- Button -->
                    <a href="{{blog.blog_slug}}" class="btn btn-primary">Read</a>
                
                    </div>
                
                </div>
                <!-- Card -->
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}


    
        
