{% extends "blog/header.html" %}

{% block content %}
    <div class="col-12">
        <h1 class="text-center mt-3">My Info</h1>
    </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col-12 d-flex">
                <div class="m-auto">
                    {% if user.profile.image  %}
                        <img src="{{ user.profile.image.url }}" alt="Profile pic">
                    {% else %}
                        {% load static %}
                        <img src="{% static 'image/user.png' %}" alt="profile pic">
                    {% endif %}
                </div>
            </div>
            <div class="col-12 d-flex mt-3">
                <div class="m-auto">
                    <p class="text-center font-15 border-bottom">{{ user.first_name }} {{ user.last_name }}</p>
                    <p class="text-center font-15 border-bottom">{{ user.username }}</p>
                    {% if user.profile.bio %}
                        <p class="text-center font-15 border-bottom" style="max-width: 300px;">{{user.profile.bio}}</p>
                    {% endif %}
                    <p class="text-center font-15 border-bottom" style="max-width: 300px;">{{ user.email }}</p>
                    {% if user.profile.birth_date %}
                        <p class="text-center font-15 border-bottom" style="max-width: 300px;">{{ user.profile.birth_date }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 d-flex">
                    <div class="m-auto">
                        <a href="/change_info/" class="btn btn-primary">Change info</a>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
            