{% extends "blog/header.html" %}

{% block content %}
    
    <h1 class="text-center mt-3">Buy premium</h1>
  
    <div class="row d-flex mt-3">
        <div class="col-12 d-flex flex-column align-items-center">
            <p class="font-12 text-center">You can buy premium mebership for $5, and get your blog featured on main page of website.</p>
            {% load static %}
            <form action="{% url 'charge' %}" method="POST">
                {% csrf_token %}
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ key }}"
                    data-description="A Django Charge"
                    data-amount="500"
                    data-locale="auto">
                </script>
            </form>
            <div class="w-100 mt-3">
                    <img class="w-100" src="{% static 'image/screenshot.jpg' %}" alt="screenshot">
                </div>
        </div>
    </div>
{% endblock %}