<nav class="navbar navbar-expand-xl navbar-light bg-light">
    <a class="navbar-brand mr-5 font-weight-bold" href="/">Read and Write</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto"> 
            {% for c in category %} 
                <li class="ml-2 mr-2"><a href="../{{ c.category_slug }}" class="text-dark">{{c.category_name}}</a></li>
            {% endfor %}     
        </ul>
        <ul class="navbar-nav mr-right">
            {% if user.is_authenticated %}
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/my_blogs/">My Blogs</a>
                    <a class="dropdown-item" href="/my_info/">My Info</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create_blog/">Create Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact/">Contact us</a>
            </li>
            <li class="nav-item">
                 <a class="nav-link" href="/logout/">Logout</a>
            </li>
            <li class="nav-item avatar">
                <a class="nav-link p-0" href="#">
                    {% if user.profile.image  %}
                        <img src="{{ user.profile.image.url }}" class="z-depth-0" alt="Profile pic"  width="35px">
                    {% else %}
                        {% load static %}
                        <img src="{% static 'image/user.png' %}" alt="Profile pic" height="35px">
                    {% endif %}
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                    <a class="nav-link" href="/register/">Register</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/login/">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
  </nav>

    
        
