<nav class="navbar navbar-expand navbar-light" style="background-color: white">
    <div class="container d-flex">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ReadandWrite"><h1><a class="navbar-brand font-weight-bold pl-3" href="/" style="padding-top: 0px; padding-bottom: 0px; font-size: 1.5rem;">Read and Write</a></h1></li>
                <li class="nav-item riw"><a class="navbar-brand font-weight-bold pl-3" href="/" style="padding-top: 0px; padding-bottom: 0px;">R&W</a></li>
            </ul>
            
            <ul class="navbar-nav mr-right">
                <!--Categories navbar-->
                {% if category %}
                <li class="nav-item dropdown categories-nav mt-1">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        {% for c in category %}
                        <a class="dropdown-item" href="{{ c.category_slug }}">{{ c.category_name }}</a>
                        {% endfor %}
                    </div>
                </li>
                {% endif %}
                <!--End Categories navbar-->        
                {% if user.is_authenticated %}
                    {% if user.profile.premium == False %}
                    <li class="nav-item mt-1 upgrade-nav"><a class="border border-primary p-2 nav-link upgrade" href="/premium/">Upgrade</a></li>
                    {% endif %}
                <li class="nav-item mt-1 user-name-nav"><p class="pl-2 pr-2 mb-0 nav-link" >{{ user.first_name }} {{ user.last_name }}</p></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if user.profile.image  %}
                            <img class="rounded-circle" src="{{ user.profile.image.url }}" class="z-depth-0" alt="Profile pic"  width="35px">
                        {% else %}
                        {% load static %}
                            <img  class="rounded-circle" src="{% static 'image/user.png' %}" alt="Profile pic" height="35px">
                        {% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/create_blog/">Create blog</a>
                        <a class="dropdown-item" href="/my_blogs/">My Blogs</a>
                        <a class="dropdown-item" href="/my_info/">My Info</a>
                        {% if user.profile.premium == False %}
                        <a class="dropdown-item show-on-small" href="/premium/">Upgrade</a>
                        {% endif %}
                        <a class="dropdown-item" href="/contact/">Contact us</a>
                        <a class="dropdown-item" href="/logout/">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/register/">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login/">Login</a>
                </li>
                {% endif %}
            </ul>
    </div>
</nav>
<div class="categories sticky-top pt-2 pb-2 overflow-hidden">
    <div class="container d-flex flex-row">
        {% for c in category %} 
            <a href="../{{ c.category_slug }}" class="ctg-nav-link text-uppercase">{{c.category_name}}</a>
        {% endfor %}
    </div>
</div>


    
        
