<nav>
    <div class="nav-wrapper purple darken-3">
        <div class="container">
            <a href="/" class="brand-logo"><img src="/media/blog/pen3.png"/>MyBlog.com</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
                <li><a href="/create_blog/">Create Blog</a></li>
                <li><a href="/">{{ user.username }}</a></li>
                <li><a href="/logout/">Logout</a></li>
            {% else %}
                <li><a href="/register/">Register</a></li>
                <li><a href="/login/">Login</a></li>
            {% endif %}
        </ul>
        </div>
    </div>
</nav>
<br>
<br>



    
        
